code {
	background: #FCFCFC;
	color: #444444;
	font-size: 12px;
	border-bottom: 3px solid #E8E8E8;
	border-radius: 6px;
	box-shadow: 0 0 0 1px #D0D0D0;
	padding: 1px 8px 2px 8px;
	font-family: "Source Code Pro";
	display: inline-block;
}

code > h2 {
	text-align: center;
	color: #444444;
}