@charset "UTF-8";

@font-face {
	font-family: 'Light';
	src: url("/fonts/HelveticaNeue-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Medium';
	src: url("/fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
	font-family: 'UltraLight';
	src: url("/fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
}

html {
	height: 100%;
	font-family: 'Light';
}

body {
	margin: 0;
	padding: 0cm 3cm;
	height: 100%;
	background-color: #001824;
}

header {
	float: top;
	text-align: center;
	font-size: 68px;
	color: #C2D2E2;
}

subheader {
	font-family: 'UltraLight';
	text-align: center;
	font-size: 10px;
	color: #C2D2E2;
}

span.spread {
	letter-spacing: 120px;
}

.Ultra-Light {
	font-family: 'UltraLight';
}

a.sidebar:link {
	color:#C2D2E2;
	text-decoration:none;
	font-weight: 400;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a.sidebar:visited {
	color:#C2D2E2;
	text-decoration:none;
	font-weight: 400;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a.sidebar:hover {
	color:#00FFB3;
	text-decoration:none;
	font-weight: 400;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a.sidebar:active {
	color:#00FFB3;
	text-decoration:none;
	font-weight: 400;
	border: 0px solid #1E2D3C;
	border-bottom-width: 2px;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

sidebar {
	float: left;
	text-align: left;
	font-size: 24px;
	color: #00FFB3;
	width: 150px;
	text-align: left;
	height: 100%;
}

a.content:link {
	color:#00FFB3;
	text-decoration:none;
	font-weight: 400;
	background-color: #1E2D3C;
	border: 2px solid #1E2D3C;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a.content:visited {
	color:#00FFB3;
	text-decoration:none;
	font-weight: 400;
	background-color: #1E2D3C;
	border: 2px solid #1E2D3C;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a.content:hover {
	color:#00FFB3;
	text-decoration:none;
	font-weight: 400;
	background-color: #142332;
	border: 2px solid #142332;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a.content:active {
	color:#001824;
	text-decoration:none;
	font-weight: 400;
	background-color: #00FFB3;
	border: 2px solid #00FFB3;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-ms-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-moz-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-webkit-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
}

.darkcontent {
	color: #708090;
}

content {
	width: 50%;
	text-align: justify;
	color: #C2D2E2;
	margin-right: 5%;
	line-height: 130%;
}

h2 {
	color:#00FFB3;
}