@charset "UTF-8";

@font-face {
	font-family: 'Light';
	src: url("/fonts/Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Regular';
	src: url("/fonts/Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Thin';
	src: url("/fonts/Thin.ttf") format("truetype");
}

html {
	font-family: 'Light';
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
}

body {
	margin: 0;
	margin-top: 15px;
	height: 100%;
	padding: 0px;
}

header {
	float: top;
	text-align: center;
	font-size: 72px;
	color: #888888;
}

subheader {
	font-family: 'Thin';
	text-align: center;
	font-size: 10px;
	color: #888888;
}

span.spread {
	letter-spacing: 120px;
}

.Thin {
	font-family: 'Thin';
}

a.content {
	padding: 0;
	text-decoration:none;
}

a.content:link, a.content:visited {
	color:#0090FF;
	background-color: #EEEEEE;
	border: 2px solid #EEEEEE;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

a.content:hover {
	color:#FFFFFF;
	background-color: #0090FF;
	border: 2px solid #0090FF;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-ms-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-moz-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-webkit-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
}
a.content:active {
	color:#444444;
	background-color: #0090FF;
	border: 2px solid #0090FF;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition:0s;
	-ms-transition:0s;
	-moz-transition:0s;
	-webkit-transition:0s;
	transition:0s;
}

.content {
	margin-top: 5px;
	text-align: justify;
	color: #888888;
	line-height: 130%;
	padding: 0cm 150px;
}

.article-stub {
	margin-bottom: 25px;
}

.unimportant {
	margin-left: 10px;
	color: #BBBBBB;
}

h2 {
	color:#0090FF;
	margin: 0;
	padding: 5px 0px;
}

li {
	color:#0090FF;
}

a.menuReveal {
    position: fixed;
    color: #888888;
    top: 42%;
    left: 25px;
}

nav {
	padding: 15px 0px;
	margin: 10px 0px;
	text-align: center;
	background-color: #0090FF;
}

nav > a {
	margin: 0px 8%;
}

nav > a:link, nav > a:visited {
	color:#FFFFFF;
	text-decoration:none;
	font-weight: 400;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

nav > a:hover {
	color:#DDDDDD;
	text-decoration:none;
	font-weight: 400;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
nav > a:active {
	color:#444444;
	text-decoration:none;
	font-weight: 400;
	border-bottom-width: 2px;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

footer {
	text-align: center;
	padding-top: 20px;
	color: #888888;
	font-size: 12px;
}

footer > a {
	text-decoration: none;
	color: #888888;
}

footer > a:hover, footer > a:active {
	color: #0090FF;
}

#disqus_thread {
	width: 60%;
	margin-left:auto;
	margin-right:auto;
}