@charset "UTF-8";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

html {
	font-family: 'Open Sans';
	font-weight: 400;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
}

body {
	margin: 0;
	margin-top: 15px;
	height: 100%;
	padding: 0px;
}

a {
   outline: 0;
}

header {
	float: top;
	text-align: center;
	font-size: 72px;
	color: #727272;
	font-weight: 300;
}

subheader {
	font-weight: 300;
	text-align: center;
	font-size: 10px;
	color: #888888;
}

span.spread {
	letter-spacing: 120px;
}

.Thin {
	font-weight: 300;
	color: #0090FF;
}

a.content {
	padding: 0;
	text-decoration:none;
}

a.content:link, a.content:visited, a.content {
	color:#0090FF;
	background-color: #EEEEEE;
	border: 2px solid #EEEEEE;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

a.content:hover, a.content:active {
	color:#FFFFFF;
	background-color: #0090FF;
	border: 2px solid #0090FF;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 3px;
	border-right-width: 3px;
	-o-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-ms-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-moz-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	-webkit-transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
	transition: color .4s ease-out, background-color .6s ease-in, border-color .6s ease-in;
}

.content {
	margin-top: 5px;
	text-align: justify;
	color: #888888;
	line-height: 150%;
	padding: 0cm 150px;
}

.article-stub {
	margin-bottom: 25px;
}

a.link {
	color: #646464;
}

a.link:hover {
	color: #0090FF;
}

.unimportant {
	color: #BBBBBB;
}

h2 {
	color:#0090FF;
	margin: 0;
	padding: 5px 0px;
}

li {
	color:#0090FF;
}

a.menuReveal {
    position: fixed;
    color: #888888;
    top: 42%;
    left: 25px;
}

nav {
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 8px;
	box-shadow: 0px 7px #0070DF;
	margin: 10px 0px;
	margin-bottom: 17px;
	text-align: center;
	background-color: #0090FF;
}

nav > a {
	margin: 0px 8%;
}

nav > a:link, nav > a:visited {
	color:#FFFFFF;
	text-decoration:none;
	font-weight: 400;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

nav > a:hover, nav > a:active {
	color:#DDDDDD;
	text-decoration:none;
	font-weight: 400;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

footer {
	text-align: center;
	padding-top: 20px;
	color: #888888;
	font-size: 12px;
}

footer > a {
	text-decoration: none;
	color: #888888;
}

footer > a:hover, footer > a:active {
	color: #0090FF;
}

#disqus_thread {
	width: 60%;
	margin-left:auto;
	margin-right:auto;
}

a.blank {
	text-decoration: none;
}

span.code {
	font-family: 'Source Code Pro';
	background: #EEEEEE;
	color: #666666;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 4px;
}

div.article-link {
	display: inline-block;
	padding: 4px 8px 6px 8px;
	color: #888888;
}

div.article-link:hover {
	background: #F2F2F2;
}