/* Submenu - Inspired by John Gruber's porject submenus at daringfireball.net */
submenu ul {
	list-style: none outside;
	padding: 0px;
	margin: 0px;
	height: 32px;
	padding-left: 50%;
}

submenu li {
	display: inline;
	padding: 0px;
	margin: 0px;
	counter-increment: numLi;
}

submenu li a {
	min-width: 100px;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	text-align: center;
	display: block;
	color: #FFFFFF;
	border: 1px solid #0090FF;
	background: #FFFFFF;
	float: left;
	margin-left: -1px;
	color: #0090FF;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

submenu li a:hover {
	background: #F0F2F4;
	color: #0090FF;
	-o-transition: 0.1s;
	-ms-transition: 0.1s;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

submenu li a.selected, submenu li a:active {
	background: #0090FF;
	color: #FFFFFF;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}